button {
    width : 100px ;
    margin-bottom: 10px;
    margin-left: 40%;
    font-style: italic;
}
form {
    margin-left: 10px;
}
h2 {
    color: blue;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}
input {
    font-style: italic;
}
label {
    margin-left: 10px;
    font-style: italic;
    font-size: larger;
}