<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-7 border">
            <h2>Update employee </h2>
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                    <label for="name">Last Name</label>
                    <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
                </div>

                <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
                </div>
              
                <div class="form-group">
                    <label for="name">Function</label>
                    <input type="text" class="form-control" id="function" required [(ngModel)]="employee.function" name="function">
                </div>
                
                <div class="form-group">
                    <label for="name">Id</label>
                    <input type="text" class="form-control" id="Id" required [(ngModel)]="employee.id" name="Id">
                </div>

                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="email" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
                </div>
                  
              
                <button type="submit" class="btn btn-success" [disabled]="f.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
